<div class="row">
  <div class="col-sm-11">
    <app-auto-filter-dropdown
      placeholder="Select a category"
      [items]="categories()"
      [searchTerm]="currentCategory()?.name || ''"
      (itemSelected)="selectCategory($event)"
    ></app-auto-filter-dropdown>
    <app-auto-filter-dropdown
      *ngIf="subCategories().length"
      placeholder="Select a subcategory"
      [items]="subCategories()"
      [searchTerm]="currentSubCategory()?.name || ''"
      (itemSelected)="selectSubCategory($event)"
    ></app-auto-filter-dropdown>
    <app-auto-filter-dropdown
      placeholder="Select a difficulty"
      [items]="difficulties"
      (itemSelected)="selectDifficulty($event.name)"
    ></app-auto-filter-dropdown>
    <button
      class="primary"
      id="createBtn"
      [disabled]="!shouldCreateQuiz()"
      (click)="createQuiz()"
    >
      Create
    </button>
  </div>
</div>
<div class="row">
  <app-quiz
    [questions]="questions()"
    (changeQuestion)="changeQuestion($event)"
  ></app-quiz>
</div>
