<div class="row">
  <div class="col-sm-11">
    <app-auto-filter-dropdown
      placeholder="Select a category"
      [items]="categories()"
      [searchTerm]="currentCategory()?.name || ''"
      (itemSelected)="selectCategory($event)"
    ></app-auto-filter-dropdown>
    <app-auto-filter-dropdown
      *ngIf="subCategories().length"
      placeholder="Select a subcategory"
      [items]="subCategories()"
      [searchTerm]="currentSubCategory()?.name || ''"
      (itemSelected)="selectSubCategory($event)"
    ></app-auto-filter-dropdown>
    <select #difficulty id="difficultySelect">
      <option>Select difficulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <button
      class="primary"
      id="createBtn"
      [disabled]="!shouldCreateQuiz() || !difficulty.value"
      (click)="createQuiz(difficulty.value)"
    >
      Create
    </button>
  </div>
</div>
<div class="row">
  <app-quiz
    [questions]="questions()"
    (changeQuestion)="changeQuestion($event, difficulty.value)"
  ></app-quiz>
</div>
