<div class="dropdown" (clickOutside)="closeDropdown()">
  <input
    type="text"
    class="dropdown-select"
    [placeholder]="placeholder"
    [(ngModel)]="searchTerm"
    (focus)="openDropdown($event.target)"
    (keyup)="filterItems()"
  />
  <app-dropdown *ngIf="isDropdownOpen" (close)="closeDropdown()">
    <app-dropdown-item
      *ngFor="let item of filteredItems"
      (selection)="searchItem(item)"
    >
      <span [innerHTML]="highlightMatchedText(item.name)"></span>
    </app-dropdown-item>
  </app-dropdown>
</div>
